.dgrid {
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
  grid-gap: 16px;
  max-width: 70%;
  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}

.back-button {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(109, 106, 71);
  height: 40px;
  padding: 10px;
  width: 30%;
  margin-top: 16px;
  border-radius: 10px;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: rgba(233, 228, 155, 0.5);
  }
}